<div class="container-fluid">
	<div class="row">
		<div class="col-md-12 col-lg-3 card" style="background-color:#fafafa; ">

			<%= render 'users/user', user: @user %>

		</div>

		<div class="col-md-12 col-lg-9">
			
			<%= render 'tweets/tweet', tweets: @tweets %>
		</div>
	</div>
</div>