<div class="container-fluid">
	<div class="row">
		<div class="col-3 card">

			<%= render 'users/user', user: @user %>

		</div>

		<div class="col-9 card">
			<%= render 'tweets/tweet', tweets: @tweets %>
		</div>
	</div>
</div>