<div class="container-fluid">
	<div class="row">
		<div class="col-6">
 			<%= image_tag 'connectraining3.jpg', class: "mt-5 img-fluid" %>
 		</div>

		<div class="col-6 mt-5">
			<h3 class="">このサイトについて</h3>
			<p>「ConnecTraining」はトレーナーとこれから筋トレをしたい方、筋トレをしてる方を繋ぐためのサイトです。</p>
			<p>また、自分のマッチョな写真を投稿することができる<br>コミュニティサイトでもあります。</p>
			<hr>
			<h3 class="">どうやって使うの？</h3>
			<p>ツイートやユーザー閲覧は誰でも可能ですが、</p>
			<p>ユーザーをフォロー、ツイートは<%= link_to "会員登録", "/users/sign_up" %>が必要になります。</p>
			<br>
			<h1 class="">◯ 今日からあなたもジムに行こう！！ ◯</h1>
		</div>
	</div>
</div>
