<div class="container-fluid">
	<div class="row">
		<div class="col-6">
 			<%= image_tag 'connectraining3.jpg', class: "mt-5 img-fluid" %>
 		</div>

		<div class="col-6 mt-5">
			<h3 class="about-title">このサイトについて</h3>
			<p class="mt-3">「ConnecTraining」はトレーナーとこれから筋トレをしたい方、筋トレをしてる方を繋ぐためのサイトです。</p>
			<p class="mt-3">また、自分のマッチョな写真を投稿することができる<br>コミュニティサイトでもあります。</p>
			<hr>
			<h3 class="about-title">どうやって使うの？</h3>
			<p class="mt-3">ツイートやユーザー閲覧は誰でも可能ですが、</p>
			<p class="mt-3">ユーザーをフォロー、ツイートは<%= link_to "会員登録", "/users/sign_up" %>が必要になります。</p>
			<br>
			<h1 class="about-text">今日からあなたもジムに行こう！！</h1>
		</div>
	</div>
</div>
